@import "tailwindcss";

@import "./palette.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-*: initial;
  --color-brand-alpha: var(--base-coral);
  --color-brand-beta: var(--base-gold);
  --color-brand-gamma: var(--base-teal);
  --color-brand-delta: var(--base-sage);
  --color-primary: var(--base-gray-900);
  --color-primary-hover: var(--base-gray-700);
  --color-secondary: var(--base-gray-100);
  --color-secondary-hover: var(--base-gray-200);
  --color-background: var(--base-gray-100);
  --color-foreground: var(--base-white);
  --color-font: var(--base-gray-900);
  --color-muted: var(--base-gray-700);
  --color-edge: var(--base-gray-200);
  --color-overlay: var(--base-gray-50);
  --color-info: var(--base-blue-500);
  --color-info-hover: var(--base-blue-600);
  --color-success: var(--base-green-500);
  --color-success-hover: var(--base-green-600);
  --color-warning: var(--base-orange-500);
  --color-warning-hover: var(--base-orange-600);
  --color-error: var(--base-red-500);
  --color-error-hover: var(--base-red-600);
  --color-positive: var(--base-green-500);
  --color-positive-hover: var(--base-green-600);
  --color-negative: var(--base-red-500);
  --color-negative-hover: var(--base-red-600);
  --color-neutral: var(--base-orange-500);
  --color-neutral-hover: var(--base-orange-600);
}

@layer theme {
  * {
    @variant dark {
      --color-brand-alpha: var(--base-flamingo);
      --color-brand-beta: var(--base-lime);
      --color-brand-gamma: var(--base-ocean);
      --color-brand-delta: var(--base-mint);
      --color-primary: var(--base-slate-100);
      --color-primary-hover: var(--base-slate-200);
      --color-secondary: var(--base-slate-800);
      --color-secondary-hover: var(--base-slate-700);
      --color-background: var(--base-slate-950);
      --color-foreground: var(--base-slate-900);
      --color-font: var(--base-slate-200);
      --color-muted: var(--base-slate-400);
      --color-edge: var(--base-slate-800);
      --color-overlay: var(--base-slate-900);

      --color-info-hover: var(--base-blue-400);
      --color-success-hover: var(--base-green-400);
      --color-warning-hover: var(--base-orange-400);
      --color-error-hover: var(--base-red-400);
      --color-positive-hover: var(--base-green-400);
      --color-negative-hover: var(--base-red-400);
      --color-neutral-hover: var(--base-orange-400);
    }
  }
}
